.about {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  background-color: #f2faf2;
  height: 62vw;
}

.about__container {
  position: relative;
  display: flex;
  left: -200px;
  flex-flow: column;
  align-items: flex-end;
  max-width: 1320px;
  width: 90%;
  height: 100vh;
  margin: 10rem auto;
  flex-wrap: wrap;
  margin-left: 20vw;
}

h1 {
  text-align: start;
  font-size: 7rem;
  color: red;
  max-width: 1100px;
}

/* fix font family etc */

h4 {
  font-family: monospace;
  text-align: start;
  font-size: 1.3rem;
  margin: 3rem 0;
  max-width: 1100px;
  font-weight: lighter;
}

.contact__info {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: red;
  margin-left: 10vw;
  margin-right: 5vw;
}

h3 {
  margin: 35px 0px 10px 10px;
  font-size: 1.7rem;
}

h5 {
  font-size: 1.4rem;
  margin: 0px 0px 10px 10px;
  max-width: 240px;
}

@media only screen and (max-width: 1400px) {
  .about{
    height: 130vw;
  } 

  .about__container {
    max-width: 600px;
  }

}

@media only screen and (max-width: 1200px) {
  .about__container {
    position: relative;
    max-width: 650px;
    left: -20vh;
  }

  .about {
    height: 162VW;
  }

  h1 {
    font-size: 6rem;
  }

  h4 {
    font-size: 1.6rem;
  }

  .contact__info {
    bottom: 113vh;
    margin-left: 40px;
  }
}

@media only screen and (min-width: 1200px) {
  .about__container {
    width: 90%;
    max-width: 850px;
  }

  .contact__info {
    font-size: 0.1rem;

  }



}

@media only screen and (max-width: 1024px) {

  .about {
    height: 300vw;
  }

  .about__container {
    max-width: 650px;
  }


  h5 {
    font-size: 1rem;
  }

  h3 {
    font-size: 1.4rem;
  }


}

@media only screen and (max-width: 500px) {
  .about__container {
    position: relative;
    max-width: 250px;
    left: -5vh;
    align-items: center;
  }

  .about {
    height: 750vw;
  }

  .contact__info {
    position: relative;
    top: 520vw;
    left: -60vw;
    width: 300px;
  }

  h5 {
    font-size: 1rem;
  }

  h3 {
    font-size: 1.4rem;
  }
}
