:root {
  --primary-background-color: #f2faf2;
  --secondary-background-color: #ef3e36;
  --primary-font-color: #2e282a;
  --secondary-font-color: #fff;
  --extra-color: #5c5552;
}

.cart-container {
  width: 100%;
  min-height: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-background-color);
}

.cart-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem;
  width: 80vw;
}

.cart-header-element {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-header-element i {
  align-self: center;
}

.cart-item {
  display: flex;
  flex-direction: row;
  margin: 1vw auto;
  width: 5vw;
  background-color: rgb(0, 100, 0);
  padding: 1vw auto;
}
.checkout {
  margin: 5vw auto;
}

.checkout button {
  color: var(--primary-font-color);
  border-color: var(--primary-font-color);
  margin-right: 0.2vw;
}

.checkout button:hover {
  opacity: 80%;
  background-color: var(--secondary-background-color);
  color: var(--secondary-font-color);
}

.list-product {
  display: flex;
  width: 80vw;
  justify-content: space-evenly;
}

.remove-btn {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  color: var(--extra-color);
}
