.cart-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2faf2;
}

.cart-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 2rem;
  width: 60vw;
  /* border: 1px solid red; */
}

.cart-header-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  /* border: 1px solid blue; */
}

.cart-item {
  display: flex;
  flex-direction: row;
  margin: 2rem auto;
}

.checkout {
  margin-left: 50rem;
}

.checkout button {
  position: relative;
  top: 1vw;
  color: black;
  /* border-color: red; */
}

.checkout button:hover {
  opacity: 70%;
  /* background-color: red; */
  color: #fff;
}

.list-product {
  /* border: 1px solid blue; */
  display: flex;
  width: 900px; /*make this better, bad to use px, make it responsive*/
  justify-content: space-between;
}

.remove-btn {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  color: grey;
}
