:root {
  --primary-background-color: #f2faf2;
  --secondary-background-color: #ef3e36;
  --primary-font-color: #2e282a;
  --secondary-font-color: #fff;
  --extra-color: #5c5552;
}

.cart-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-background-color);
}

.cart-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 2rem;
  width: 60vw;
}

.cart-header-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
}

.cart-item {
  display: flex;
  flex-direction: row;
  margin: 2rem auto;
}

.checkout {
  margin: 10vw auto;
}

.checkout button {
  color: var(--primary-font-color);
  border-color: var(--primary-font-color);
  margin-right: 0.2vw;
}

.checkout button:hover {
  opacity: 80%;
  background-color: var(--secondary-background-color);
  color: var(--secondary-font-color);
}

.list-product {
  /* border: 1px solid blue; */
  display: flex;
  width: 900px; /*make this better, bad to use px, make it responsive*/
  justify-content: space-between;
}

.remove-btn {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  color: var(--extra-color);
}
