:root {
  --primary-background-color: #f2faf2;
  --secondary-background-color: #ef3e36;
  --primary-font-color: #2e282a;
  --secondary-font-color: var(--secondary-font-color);
  --extra-color: #5c5552;
}

.menu-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: contain;
  background-color: var(--primary-background-color);
}

.menu-container > h1 {
  color: var(secondary-background-color);
  font-size: 100px;
}

.menu-container h4 {
  font-weight: 400;
  margin-bottom: 1vw;
}

.menu-container p {
  margin-bottom: 1vw;
}

.pizza-header {
  margin-top: 10vw;
}

.pizza-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 2vw;
  list-style: none;
  text-align: start;
  width: 98vw;
  justify-content: space-evenly;
  margin-bottom: 20vh;
}

.pizza-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 20vw;
}

.pizza-item button {
  color: var(--primary-font-color);
  border-color: var(--primary-font-color);
  margin-top: 1vw;
}

.pizza-item button:hover {
  opacity: 80%;
  background-color: var(--secondary-background-color);
  color: var(--secondary-font-color);
}

.pasta-header {
  margin: 5vw auto;
}

.pasta-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 2vw;
  list-style: none;
  text-align: start;
  width: 98vw;
  justify-content: space-evenly;
}

.pasta-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 20vw;
  margin-bottom: 2vw;
}

.pasta-item button {
  color: var(--primary-font-color);
  border-color: var(--primary-font-color);
  margin-top: 1vw;
}

.pasta-item button:hover {
  opacity: 80%;
  background-color: var(--secondary-background-color);
  color: var(--secondary-font-color);
}

.menu-btns {
  margin-top: 32px;
}

.menu-btns .btn {
  margin: 6px;
}

@media screen and (max-width: 960px) {
  .menu-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .menu-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .menu-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .pizza-item{
    width: 100%;
    /* border: 1px solid blue; */
    align-items: center;
  }

  .pizza-container{
    /* border: 10px solid red; */
    display: flex;
    flex-direction: column;
  }

  .pizza-item > p {
    text-align: center;
  }
  .pasta-item{
    width: 100%;
    /* border: 1px solid blue; */
    align-items: center;
  }

  .pasta-container{
    /* border: 10px solid red; */
    display: flex;
    flex-direction: column;
  }

  .pasta-item > p {
    text-align: center;
  }
    .pasta-item > h4 {
    text-align: center;
    padding-bottom: 1rem;
  }

  .end-pasta{
    margin-bottom: 3rem;
  }
}
