:root {
  --primary-background-color: #f2faf2;
  --secondary-background-color: #ef3e36;
  --primary-font-color: #2e282a;
  --secondary-font-color: #fff;
  --extra-color: #5c5552;
}

.navbar {
  background: linear-gradient(
    90deg,
    rgb(239, 62, 54) 10%,
    rgb(46, 40, 42) 100%
  );
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1700px;
}

#logo {
  position: relative;
  width: 20vh;
}

#logo:hover {
  width: 21vh;
  transition: all 0.2s ease-out;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
  margin-left: 2rem;
}

/*
.nav-menu-2 {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
  margin-left: 2rem;
}
*/

.nav-item {
  height: 80px;
}

.nav-links {
  color: var(--secondary-font-color);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid var(--secondary-font-color);
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: var(--secondary-font-color);
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

#cart-counter {
  font-size: 0.7vw;
  background-color: var(--secondary-font-color);
  color: red;
  border-radius: 50%;
  width: 1vw;
  height: 1vw;
  align-items: center;
  margin-bottom: 2vw;
}

@media screen and (max-width: 1750px) {
  .navbar-container {
    max-width: 1300px !important;
  }

  #cart-counter {
    margin-bottom: 3vw;
    font-size: 1vw;
    height: 1.2vw;
    width: 1.2vw;
  }
}

@media screen and (max-width: 1550px) {
  .navbar-container {
    max-width: 1000px !important;
  }

  #cart-counter {
    margin-bottom: 3vw;
    font-size: 1vw;
    height: 1.2vw;
    width: 1.2vw;
  }
}

@media screen and (max-width: 1250px) {
  .navbar-container {
    max-width: 900px !important;
  }

  #cart-counter {
    margin-bottom: 3.5vw;
    font-size: 1.2vw;
    height: 1.5vw;
    width: 1.5vw;
  }
}

@media screen and (max-width: 960px) {
  #cart-counter {
    display: none;
    visibility: hidden;
  }

  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85vh;
    position: absolute;
    top: 120px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    margin: 0 auto;
  }

  .nav-menu.active {
    background: var(--primary-font-color);
    opacity: 1;
    transition: all 0.5s ease;
    margin-left: 10vw;
  }

  .nav-menu.active {
    background: var(--primary-font-color);
    margin: 0 auto;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: var(--secondary-font-color);
    color: var(--primary-font-color);
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: var(--secondary-font-color);
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: var(--secondary-font-color);
    padding: 14px 20px;
    border: 1px solid var(--secondary-font-color);
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: var(--secondary-font-color);
    color: var(--primary-font-color);
    transition: 250ms;
  }
}
