.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: #f2faf2;
}

.flex-container {
  margin: 2vw auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Helvetica", FontAwesome, sans-serif;
  width: 30vw;
}

.flex-container > h1 {
  font-family: "Helvetica", FontAwesome, sans-serif;
  font-size: 3rem;
  color: black;
  margin-bottom: 1vh;
}

.flex-container > p {
  font-family: "Helvetica", FontAwesome, sans-serif;
  margin-bottom: 5vh;

  font-size: 1rem;
}

.flex-container h3 {
  font-family: "Helvetica", FontAwesome, sans-serif;
  font-weight: 100;
  font-size: 1rem;
}

.fa-credit-card {
  position: relative;
  top: 5vh;
  margin-left: 1vh;
  color: #636c72;
}

input {
  border-radius: 5px;
  border: 1px solid black;
}

.total {
  font-weight: bolder !important;
}

.info {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-gap: 1vw;
  list-style: none;
  text-align: start;
  width: 18vw;
  justify-content: space-around;
  margin-bottom: 1vh;
}

.info label {
  font-family: "Helvetica", FontAwesome, sans-serif;
}

.info input {
  font-family: "Helvetica", FontAwesome, sans-serif;
  width: 25vh;
  height: 4vh;
  text-align: start;
  font-size: 1.2rem;
}

.summary {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 1vw;
  list-style: none;
  text-align: start;
  width: 10vw;
  justify-content: space-between;
  margin-bottom: 1vh;
}

.summary h3 {
  margin: 2rem auto 0;
}

.container button {
  color: black;
  border-color: red;
  margin-top: 1vw;
  width: 230px;
}

.container button:hover {
  opacity: 70%;
  background-color: red;
  color: #fff;
}

.error {
  color: red;
  margin-bottom: 1rem;
  /* border: 1px solid blue; */
  /* padding-left: 1rem; */
  width: 100%;
  /* margin-left: 4.5rem; */
  font-size: 0.8rem;
}

@media (max-width: 828px) {
  .fa-credit-card {
    top: 4.2vh;
  }
}

@media (max-width: 928px) {
  .fa-credit-card {
    top: 4.5vh;
  }
}

@media (max-width: 528px) {
  .fa-credit-card {
    top: 3.8vh;
  }
}
