:root {
  --primary-background-color: #f2faf2;
  --secondary-background-color: #ef3e36;
  --primary-font-color: #2e282a;
  --secondary-font-color: #fff;
  --extra-color: #5c5552;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: var(--primary-background-color);
}

.flex-container {
  margin: 2vw auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  width: 30vw;
}

.flex-container > h1 {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  color: var(--primary-font-color);
  margin-bottom: 1vh;
}

.flex-container > p {
  font-family: "Roboto", sans-serif;
  margin-bottom: 5vh;
  font-size: 1rem;
}

.flex-container h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
}

::placeholder {
  color: var(--extra-color);
}

.fa-credit-card {
  position: relative;
  top: 4.8vh;
  margin-left: 2vh;
  color: var(--extra-color);
  width: 1vw;
}

input {
  border-radius: 5px;
  border: 1px solid var(--primary-font-color);
}

.total {
  font-weight: bolder !important;
}

.info {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-gap: 1vw;
  list-style: none;
  text-align: start;
  width: 18vw;
  justify-content: space-around;
  margin-bottom: 1vh;
}

.info label {
  font-family: "Roboto", sans-serif;
}

.info input {
  font-family: "Roboto", sans-serif;
  width: 25vh;
  height: 4vh;
  text-align: center;
  font-size: 1.2rem;
}

.summary {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 1vw;
  list-style: none;
  text-align: start;
  width: 10vw;
  justify-content: space-between;
  margin-bottom: 1vh;
}

.summary h3 {
  margin: 2rem auto 0;
}

.container button {
  color: var(--primary-font-color);
  border-color: var(--secondary-background-color);
  margin-top: 1vw;
  width: 230px;
}

.container button:hover {
  opacity: 70%;
  background-color: var(--secondary-background-color);
  color: var(--secondary-font-color);
}

.error {
  color: var(--secondary-background-color);
  margin-bottom: 1rem;
  width: 100%;
  font-size: 0.8rem;
}

@media (max-width: 828px) {
  .fa-credit-card {
    top: 4.2vh;
  }
}

@media (max-width: 928px) {
  .fa-credit-card {
    top: 4.5vh;
  }
}

@media (max-width: 528px) {
  .fa-credit-card {
    top: 3.8vh;
  }
}

@media (max-width: 500px) {
  .flex-container {
    width: 100%;
    margin-bottom: 2rem;
    padding: 1rem;
  }
  .flex-container > p {
    text-align: center;
  }
  .info input {
    width: 50vh;
    height: 5vh;
  }
  .summary {
    width: 100%;
    justify-content: space-around;
    padding-bottom: 1rem;
  }
}

@media (max-width: 375px) {
  .info input {
    width: 40vh;
  }
  .flex-container > h1 {
  font-size: 2rem;
}


}

