:root {
  --primary-background-color: #f2faf2;
  --secondary-background-color: #ef3e36;
  --primary-font-color: #2e282a;
  --secondary-font-color: #fff;
  --extra-color: #5c5552;
}

.confirmation-container {
  display: flex;
  width: 100vw;
  background-color: var(--primary-background-color);
}

.summary-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2vh 2vh;
  font-family: "Helvetica", FontAwesome, sans-serif;
  width: 30vw;
}

.greeting {
  font-weight: bolder !important;
}

.summary-container > h1 {
  font-family: "Helvetica", FontAwesome, sans-serif;
  font-size: 2rem;
  color: black;
  /*margin: 4vh 1vh;*/
}

.line {
  width: 20vw;
  height: 2px;
  background-color: red;
  margin-bottom: 2vw;
  margin-top: -1vw;
}

.summary-container h3 {
  font-family: "Helvetica", FontAwesome, sans-serif;
  font-weight: 100;
  font-size: 1.5rem;
  margin-left: 0;
}

.confirmation-container button {
  color: black;
  border-color: red;
  margin: 0.5vw 0;
  width: 400px;
}

.sum-total {
  margin: 0;
  margin-top: -2.5vw;
}

.confirmation-container button:hover {
  opacity: 70%;
  background-color: red;
  color: #fff;
}

.error {
  color: red;
  margin-bottom: 1rem;
  /* border: 1px solid blue; */
  /* padding-left: 1rem; */
  width: 100%;
  /* margin-left: 4.5rem; */
  font-size: 0.8rem;
}
